name: Update gem from OpenAPI Spec
on:
  schedule:
  - cron: 0 0 * * 0
  workflow_dispatch:
concurrency:
  group: "${{ github.workflow }}-${{ github.ref }}"
  cancel-in-progress: true
permissions:
  contents: read
jobs:
  openapi-generate:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
    - name: Set up system
      run: sudo apt install -y xq
    - name: OpenAPI Generate
      run: bin/openapi-generate
    - name: Create Pull Request
      uses: peter-evans/create-pull-request@v8
      with:
        add-paths: |
          .openapi-generator
          docs
          lib
          README.md
          spec
        commit-message: Update kubevirt gem
        branch: openapi_generate
        author: ManageIQ Bot <bot@manageiq.org>
        committer: ManageIQ Bot <bot@manageiq.org>
        delete-branch: true
        labels: enhancement
        assignees: agrare
        push-to-fork: miq-bot/kubevirt-sdk-ruby
        title: Update kubevirt gem
        body: Update the kubevirt-sdk-ruby gem from the kubevirt openapi-spec https://github.com/kubevirt/kubevirt/tree/main/api/openapi-spec
        token: "${{ secrets.PR_TOKEN }}"
